{%- extends "base.jinja" -%}
{% block content %}
    <main>
        <div class="js-overlay-page overlay">
            <div class="overlay-mask"></div>
            <div class="overlay-content">
                <div class="js-overlay-badge overlay-badge"></div>
                <h2 class="js-overlay-heading overlay-heading"></h2>
                <p class="js-overlay-body-copy overlay-body-copy"></p>
                <button class="js-overlay-close-button button overlay-close-button">Ok</button>
            </div>
        </div>
        <section class="container container-order-sort" {% if audio_intro %} data-audio-intro="{{ audio_intro }}{% endif %}">
            <header class="header header-order-sort">
                <p class="subheading subheading-order-sort">{{ subheading }}</p>
                <h1 class="question question-order-sort">{{ question }}</h1>
            </header>
            {% if instructions %}<p class="instructions instructions-order-sort">{{ instructions }}</p>{% endif %}
            <div class="activity activity-order-sort">
                <ol class="answers answers-order-sort"{% if reverse %} data-reverse="{{ reverse }}"{% endif %}>
                    {% for answer in answers -%}
                    <li class="answer answer-order-sort{% if answer.default %} is-current{% endif %}{% if answer.image %} answer-order-sort-image{% endif %}" data-correct="{{ answer.correct }}"{% if answer.feedback.correct.heading %} data-heading-correct="{{ answer.feedback.correct.heading }}"{% endif %}{% if answer.feedback.incorrect.heading %} data-heading-incorrect="{{ answer.feedback.incorrect.heading }}"{% endif %}{% if answer.feedback.correct.bodyCopy %} data-copy-correct="{{ answer.feedback.correct.bodyCopy }}"{% endif %}{% if answer.feedback.incorrect.bodyCopy %} data-copy-incorrect="{{ answer.feedback.incorrect.bodyCopy }}"{% endif %}>
                        {% if answer.image %}<img src="{{ answer.image.url }}" alt="{{ answer.image.alt_text }}">{% endif %}
                        {% if answer.text %}<div>{{ answer.text }}</div>{% endif -%}
                        <i class="js-icon-score-result icon-score-result fa"></i>
                    </li>
                    {% endfor -%}
                </ol>
            </div>
            {% if button %}<a class="button button-order-sort" href="#">{{ button }}</a>{% endif %}
        </section>
    </main>
{% endblock content %}
